In [ ]:
print("This is my second class on AI")

This is my second class on AI

# Functions in Python

In [ ]:
def area_of_square(num):
  return num * num
print("The area of first square is:",area_of_square(6))
#Area of second square
print("The area of second square is:",area_of_square(16))

The area of first square is: 36
The area of second square is: 256

#### Homework: Find area of circle

# Lists in Python

In [ ]:
# Creating a list of fruits
fruits = ["apple", "banana", "kiwi", "orange", "strawberry"]

# #Accessing elements
# print(fruits[0]) #accessing first elements in the list
# print(fruits[4]) #accesing 5'th element in the list
# print(fruits[-1]) #accesing last element in the list
# print(fruits[-2]) #accesing second last element in the list

# #Adding elements from list
# fruits.append("mango")
# print(fruits)


# #Removing elements from list
fruits.remove("orange")
print(fruits)

['apple', 'banana', 'kiwi', 'strawberry']

# Tuples in Python (Home-Task)

# Sets in Python (Home-Task)

# Dictionaries in Python

In [ ]:
# Creating a Dictionary
student = {
    "name" : "Ram Prasai",
    "age"  : 30,
    "Course" : "Computer Science"
}

#Accessing values of a particular key in a dictionary
print(student["age"])

#Updating values of a particular key in as dictionary
student["age"] = 89
print(student["age"])

# Adding new key-value pair on the dictionary
student["address"] = "Kathmandu"

print(student)

# Removing a key-value pair from a dictionary
del student["Course"]
print(student)

30
89
{'name': 'Ram Prasai', 'age': 89, 'Course': 'Computer Science', 'address': 'Kathmandu'}
{'name': 'Ram Prasai', 'age': 89, 'address': 'Kathmandu'}

# String Manipulation in Python(Tomorrow)

In [8]:
#creating a variable named text which contains leading and trailing spaces
text = "   HELLO PYTHON   "
print(text)

#using .lower() method/function to introduce lowercase
print(text.lower())

print(text.strip())

print(text.replace("PYTHON", "JAVA"))

#SPLITTING AND JOINING
#Method/function chaining
splitted = text.strip().split()
print(splitted)

#using .join()method to join the separated words
joined = '-'.join(splitted)
print(joined)

   HELLO PYTHON
   hello python
HELLO PYTHON
   HELLO JAVA
['HELLO', 'PYTHON']
HELLO-PYTHON

# MODULAR PROGRAMMING IN PYTHON

In [12]:
#Importing math module
import math

# #getting square root of 25
# square_root = math.sqrt(25)
# print("The square root of 25 is",int(square_root))

#Flooring and Ceiling
floor = math.floor(4.8)
print(floor)

ceil = math.ceil(4.8)
print(ceil)

4
5

# MODULE ALIASING

In [ ]:
# import matplotlib.pyplot as plt

# VARIABLE ALIASING

In [14]:
a = [1,2,3]
print(a)
b = a
b.append(4)
print(b)
print(a)

#HOMEWORK: Function/Method Aliasing

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

# RANDOMS IN PYTHON

In [21]:
import random as rdn
print(rdn.randint(1,10))

7

In [31]:
random_float = rdn.random()
print(random_float)

0.8711451032269008

In [64]:
random_floating_in_range = rdn.uniform(10.5,99.5)
print("With Points",random_floating_in_range)
new = "%.2f" % random_floating_in_range
print("With few points",new)
#HOMEWORK: EXPLORE MORE MODULES or FUNCTIONS/METHODS

With Points 60.46332878773756
With few points 60.46

# CREATING CUSTOM MODULES IN PYTHON

In [57]:
#helper.py
%%writefile helper123.py
def add_numbers(a,b):
  return a+b

Writing helper123.py

In [59]:
#main.py
import helper123
result = helper123.add_numbers(15,24)
print(result)

39